<nav class="navigation">
  <ul>
    <li class="stroka_navigatsii Home"><a href="/">Главная</a></li>
    <li class="stroka_navigatsii"><a href="/about">О нас</a></li>
    <li class="stroka_navigatsii"><a href="/products">Товары</a></li>
    <li class="stroka_navigatsii"><a href="/contacts">Контакты</a>
    </li>
    <li class="stroka_navigatsii"><a href="/reviews">Отзывы</a></li>
    <li class="stroka_navigatsii"><a href="/wish_list">Лист желанных товаров</a>
    </li>
  </ul>
</nav>