<main>
  <section id="about">
    <h2>О нашем производстве</h2>
    <video controls>
      <source src="Videos/tiger.mp4" type="video/mp4" />
      Упс, видео не поддерживается.
    </video>
    <p class="text">
      In Orange - магазин дизайнерской одежды собственного производства, где
      любой найдёт себе одежду по вкусу!
    </p>
  </section>
</main>