<main>
  <section id="about">
    <h2>О нашем производстве</h2>
    <video controls>
      <source src="Videos/tiger.mp4" type="video/mp4" />
      Упс, видео не поддерживается.
    </video>
    <p class="text">
      In Orange - магазин дизайнерской одежды собственного производства, где
      любой найдёт себе одежду по вкусу!
    </p>
    <div id="about1">
      <h2>Что вы получите, если будете заказывать у нас?</h2>
      <ul>
        <li>Качественный материал одежды (только Турция)</li>
        <li>
          Качественная вышивка, ведь используется профессиональное
          оборудование
        </li>
        <li>Уникальный дизайн, ведь мы сами занимаемся разработкой</li>
      </ul>
    </div>
  </section>
  <section id="products">
    <h2>Товары</h2>
    <div class="products_grid">
      <div class="block">
        <img src="image/Платье Ящерица.jpg" alt="Платье | Ящерица" />
        <h3><em>Платье | Ящерица</em></h3>
        <p class="cost">Цена: 2800 руб.</p>
      </div>
      <div class="block">
        <img src="image/Безрукавка Лиса.jpg" alt="Безрукавка | Лиса" />
        <h3><em>Безрукавка | Лиса</em></h3>
        <p class="cost">Цена: <del>3000 руб.</del> <ins>2799 руб.</ins></p>
      </div>
      <div class="block">
        <img src="image/Худи удлинённое Ящер.jpg" alt="Худи удлинённое | Ящер" />
        <h3><em>Худи удлинённое | Ящер</em></h3>
        <p class="cost">Цена: <del>4000 руб.</del> <ins>3499 руб.</ins></p>
      </div>
      <div class="block">
        <img src="image/Свитшот Череп.jpg" alt="Свитшот " Череп">
        <h3><em>Свитшот "Череп"</em></h3>
        <p class="cost">Цена: <del>4000 руб.</del> <ins>3499 руб.</ins></p>
      </div>
    </div>
  </section>
  <section>
    <table class="grid_table">
      <thead class="grid_table_thead">
      <tr class="grid_table_tr">
        <th class="grid_table_th">Андрей</th>
        <th class="grid_table_th">Валентина</th>
        <th class="grid_table_th">Антон</th>
        <th class="grid_table_th">Александр</th>
      </tr>
      </thead>
      <tbody class="grid_table_tbody">
      <tr class="grid_table_tr">
        <td class="grid_table_td">Отличное качество и быстрая доставка! Жена рада.</td>
        <td class="grid_table_td">Отличное качество и быстрая доставка! Муж рад.</td>
        <td class="grid_table_td">Отличное качество и быстрая доставка! Жена рада.</td>
        <td class="grid_table_td">Отличное качество и быстрая доставка! Жена рада.</td>
      </tr>
      <tr class="grid_table_tr">
        <td class="grid_table_td">Отличное качество и быстрая доставка! Жена рада.</td>
        <td class="grid_table_td">Отличное качество и быстрая доставка! Муж рад.</td>
        <td class="grid_table_td">Отличное качество и быстрая доставка! Жена рада.</td>
        <td class="grid_table_td">Отличное качество и быстрая доставка! Жена рада.</td>
      </tr>
      <tr class="grid_table_tr">
        <td class="grid_table_td">Отличное качество и быстрая доставка! Жена рада.</td>
        <td class="grid_table_td">Отличное качество и быстрая доставка! Муж рад.</td>
        <td class="grid_table_td">Отличное качество и быстрая доставка! Жена рада.</td>
        <td class="grid_table_td">Отличное качество и быстрая доставка! Жена рада.</td>
      </tr>
      </tbody>
    </table>
  </section>
</main>