<main>
  <section class="posts">
    <h2 class="posts_title">Отзывы</h2>
    <ul>
      <div id="postsList" class="postsList"></div>
      <div id="preloader" class="preloader"></div>
      <template id="postTemplate">
        <div class="post">
          <p class="email"></p>
          <p class="body"></p>
        </div>
      </template>
      <button id="refresh">Отобразить новые отзывы</button>
    </ul>
  </section>
</main>