* {
  box-sizing: border-box;
}

.block {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 15px;
  line-height: 35px;
  text-align: left;
  font-style: normal;
  display: grid;
  width: 350px;
  padding: 30px 10px;
  border-radius: 40px;
}

.cost {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 17px;
  line-height: 35px;
  text-align: left;
  font-style: normal;
}

main {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 17px;
  line-height: 35px;
  text-align: left;
  font-style: normal;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  line-height: 35px;
  text-align: left;
  font-style: normal;
}

img {
  width: 330px;
  height: 450px;
  border-radius: 60px;
  box-shadow: 0px 0px 40px 10px #363636;
}

footer {
  background-color: rgb(255, 255, 255);
}

#home {
  background-color: rgb(255, 255, 255);
}

video {
  width: auto;
  height: 500px;
  width: 100%;
}

#about {
  background-color: rgb(255, 255, 255);
}

#products {
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
}

h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-style: normal;
  text-transform: capitalize;
}

tr:nth-child(even)td {
  background-color: black;
}

caption {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-style: normal;
}

.text {
  text-indent: 25px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.stroka_navigatsii {
  display: inline;
  padding: 10px;
}

.stroka_navigatsii:hover {
  background: orange;
}

.grid {
  display: grid;
  grid-template: 400px 300px / repeat(4, 1fr);
}

.table_grid_tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  video {
    display: none;
  }
}

.Home {
  text-decoration: underline;
}

.products_grid {
  display: flex;
  flex-wrap: wrap;
}

.toast-info {
  background-color: orange;
}

.table_otzivi {
  padding: 15px;
}

.table_otzivi_imena {
  text-align: center;
}

.list {
  text-align: center;
}

.todo-list {
  list-style: none;
  background-color: orange;
  width: 50%;
  margin: 0 auto;
  border-radius: 30px;
}

.todo-form {
  width: 50%;
  margin: 0 auto 10px;
  background-color: orange;
  border-radius: 60px;
}

.navigation {
  background-color: orange;
  border-radius: 30px;
  width: 50%;
}
.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.post {
  border: solid 1px black;
  text-align: center;
  margin-bottom: 5px;
  background-color: orange;
  border-radius: 30px;
}

.grid_table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid_table_tr:nth-child(even) td {
  background: orange;
}

.grid_table_thead,
.grid_table_tbody,
.grid_table_tr {
  display: contents;
  text-align: center;
}

.grid_table_th,
.grid_table_td {
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
