<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="keywords" content="Кофты, Купить кофты, кофты отличного качества, купить футболку"/>
  <meta name="description" content="Распродажа различных видов мячей" />
  <title>Интернет магазин кофт и тишек</title>
  {{>scripts-styles}}
</head>
<body>
{{>header}}
{{{ body }}}
{{>footer}}
</body>
</html>